/* PageFly Element Styles */
						.kuwSuz { display: inline-block; line-height: 1; padding: 12px 20px; text-align: center; text-decoration: none; outline: 0px; }
.kuwSuz i { margin-right: 0.3em; }
.kuwSuz:hover, .kuwSuz:active, .kuwSuz:focus, .kuwSuz span { color: inherit; }
.kuwSuz span { display: initial; }
.lcHmGL { word-break: break-word; }
.lcHmGL span { font-weight: inherit; text-decoration: inherit; }
.lcHmGL i { margin-right: 0.3em; }
.jklmHY { padding: var(--pf-s-lg); }
@media (max-width: 1199px) and (min-width: 992px) {
  .jklmHY { padding: var(--pf-s-md); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .jklmHY { padding: var(--pf-s-sm); }
}
@media (max-width: 767px) {
  .jklmHY { padding: var(--pf-s-xs); }
}
.fTyjzF { position: relative; }
.eYzxUD { margin: 0 calc(-1 * var(--pf-s-lg)); }
@media (max-width: 1199px) and (min-width: 992px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-md)); }
}
@media (max-width: 991px) and (min-width: 768px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-sm)); }
}
@media (max-width: 767px) {
  .eYzxUD { margin: 0 calc(-1 * var(--pf-s-xs)); }
}
.bjKdkd__parallax { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; }
.bjKdkd { padding: 15px 0px; position: relative; }
.iVVzrr { position: relative; list-style: inherit; margin: 0 0 var(--line-spacing); }
.iVVzrr:last-child { margin: 0px; }
.iVVzrr::before { content: ""; display: inline-block; width: var(--text-indent); }
.iVVzrr > i { padding: 5px; margin-right: 5px; }
.iVVzrr > span { display: inline; }
.bMMcvF { margin: 0px; padding: 10px; }
.cbrLgP > span:last-child { line-height: inherit; display: block; margin-right: 0px !important; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable] { display: block; }
#editor-dnd-wrapper .cbrLgP span + span[contenteditable]:empty::after { display: inline; }
.cbrLgP ol, .cbrLgP ul { list-style-position: inside; }
.cbrLgP blockquote { font-size: inherit; }
.fnmilh { display: inline-block; }
.fnmilh[contenteditable="true"] { user-select: text; }
.fnmilh { vertical-align: baseline; word-break: break-word; }
.fnmilh:focus { outline: none; }
.fnmilh::after { display: inline; }
						/* PageFly Styles */
						
@media all {
	.__pf .pf-d2c43fdc {
		text-align: left;
		 font-size: 22px;
	}
	.__pf .pf-d592bead {
		text-align: left;
		 font-size: 22px;
	}
	.__pf .pf-fb72347c {
		text-align: left;
		 color: rgb(208, 2, 27);
		 font-size: 25px;
	}
	.__pf .pf-cdeb131d {
		text-align: left;
		 font-size: 22px;
	}
	.__pf .pf-8db2a139 {
		text-align: left;
		 font-size: 22px;
	}
	.__pf .pf-0abab91e {
		text-align: left;
		 font-size: 22px;
	}
	.__pf .pf-e0bbaee8 {
		text-align: left;
		 font-size: 22px;
	}
	.__pf .pf-95d40d80 {
		text-align: left;
		 color: rgb(208, 2, 27);
		 font-size: 25px;
	}
	.__pf .pf-33efba7b {
		text-align: left;
		 color: rgb(208, 2, 27);
		 font-size: 25px;
	}
	.__pf .pf-79f27e34 {
		text-align: left;
		 color: rgb(208, 2, 27);
		 font-size: 25px;
	}
	.__pf .pf-d81fe91f {
		text-align: left;
		 color: rgb(208, 2, 27);
		 font-size: 25px;
	}
	.__pf .pf-20b737a4 {
		text-align: left;
		 color: rgb(208, 2, 27);
		 font-size: 25px;
	}
	.__pf .pf-907e4ca9 {
		background-color: rgb(208, 2, 27);
		 color: rgb(255, 255, 255);
		 font-size: 32px;
		 border-radius: 10px;
		 text-align: center;
		 margin-bottom: 20px;
	}
	.__pf .pf-0746762a {
		text-align: left;
		 color: rgb(208, 2, 27);
		 font-size: 25px;
	}
	.__pf .pf-2e28a664 {
		background-color: rgb(208, 2, 27);
		 color: rgb(255, 255, 255);
		 font-size: 32px;
		 border-radius: 10px;
		 text-align: center;
		 margin-bottom: 20px;
	}
	.__pf .pf-0d80a276 {
		text-align: center;
	}
}
						